.App {
  text-align: center;
}


.App-header {
  background:white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1e4177;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 90%;
  margin: 10px auto;
 
}

.wrapper {
  max-width: 80%!important;
  margin: 0px auto!important;
  width: 100%;
}




/* Menu  */
/* Components  */

/* dropdown  */
.dropdownWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropdownWrap .dropdown {
  max-width: 20%;
  margin: 20px auto;
}
.dropdownWrap .colors{
  min-height: 400px;
  display: flex;
  flex: 1!important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* acoooos 
/* Accordion  */
.accordion {
  margin: 0px auto;
}
.active .title {
  color: black!important;
}
.active .content {
  display: block!important;
}

/* Search  */
span.searchmatch {
  color: #2f8cb6;
}

.search .button {
  margin: 10px 0px;
}
.search .item {
  border-bottom: 1px solid #b4b4b4;
  display: flex;
  flex-direction: column;
  padding: 10px!important;
  text-align: left;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu .item {
    width: 100%!important;
}
}
