* {
  box-sizing: border-box;
}
 #root {
  text-align: center;
  min-height: 100%;
  background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
  min-height: 100%;
  display: flex;
}
.App{
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex: 1;
    flex-direction: column;
    align-items: stretch;
}
.routerWrap {
  background: #ffffff4f;
  border: solid 1px #ffffffc4;
  margin: 0px auto;
  height: auto;
  overflow: hidden;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}



.App-header {
  padding: 20px;
  border: solid 1px #ffffffc4;
  background: #fdfdfd3d;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1e4177;

  margin: 10px auto;
 
}
.App-header .logo {
  background: #9d529c3d;
  width: 100%;
  height: 70px;
  padding: 10px;
}
.App-header .logo img{
  height: 100%;
  width: auto;
}

.wrapper {
  max-width: 80%!important;
  margin: 0px auto!important;
  width: 100%;
}


label{
  font-size: clamp(1rem, 2.5vw, 2rem); 
}

/* Menu  */
/* Components  */


/* translate  */
.translate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid white;
  margin: 10px auto;
  padding: 20px;
  width: 100%;
  flex: 1 1 100%;
}
.translate .input{
  padding: 20px;
    width: 100%;
    background-color: #ca649985;
  display: flex;
  flex-direction: column;
 margin: 20px auto;
}

.translate .output {
  min-height: 100px;
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.translate label {
  margin: 10px;
  color: white;
}

 .translate .dropdown {
  display: flex!important;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px;
  width: 100%;
 
}
.translate .context {
  display: none;
}

/* dropdown  */
.dropdownWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dropdownWrap label{
  color: white;
  margin: 20px;
}

select{
  background-color: #ffffff2e;
  border: 1px solid white;
 
}

.color-red .context, .color-blue .context, .color-green .context {
  color: white;
  font-size: clamp(3rem, 2.5vw, 1rem); 
  min-height: 400px;
  display: flex;
  flex: 1!important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: normal;
}
.color-red .context{
  background-color: red;
  }
.color-blue .context{
  background-color: blue;
  }
.color-green .context{
  background-color: green;
}
/* acoooos 
/* Accordion  */
.accordion {
  margin: 0px auto;
}
.active .title {
  color: black!important;
}
.active .content {
  display: block!important;
}

/* Search  */
span.searchmatch {
  color: #2f8cb6;
}
.wrapper.search {

  height: auto;

}
.search input{
  background-color: #ca649985;
    padding: 10px;
}
.search .button {
  margin: 10px 0px;
}
.search .item {
  border-bottom: 1px solid #b4b4b4;
  display: flex;
  flex-direction: column;
  padding: 10px!important;
  text-align: left;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu .item {
    width: 100%!important;
}
}
