.App {
  text-align: center;
}

.App-logo {
  width: 50px;
  height: auto;
  pointer-events: none;
}

.App-header {
  background:white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1e4177;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 90%;
  margin: 10px auto;
 
}

.accordion {
  margin: 0px auto;
}
.active .content {
  display: block !important;
}
